*{
    padding:0;
    margin:0;
}
#container{
    height:100vh;
    width:100%; 
    display: flex; 
}
ul{
    display: flex;
    gap:30px;
  
    height: 15vh;
    width:100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
ul li{
   list-style-type: none;
}

li a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}

.left{
    width:70%;
    
    background-color: rgb(51, 50, 50);
    
    display: flex;
    align-items: center;
   
  
   padding: 3rem;
}
.right{
    width: 30%;
    
    display: flex;
    background: linear-gradient(-45deg, skyblue,black);
    background-color: rgb(75, 153, 184);
}
#icon{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap:3rem;
    cursor: pointer;
}
.fa-brands:hover{
    color:rgb(120, 177, 199)
}
#content{
    color:rgb(233, 235, 238);
    margin-left: 4rem;
}
h2{
    font-size: 1.5rem;
}
h2 span{
    color: skyblue;
}

h1{
    font-size: 3rem;
    color: skyblue;
   
}
 
#content p{
    font-size: 1.2rem;
    max-width: 38rem;
    line-height: 25px;
    margin:1.3rem 0 0.5rem 0;
}
.btn{
    font-size: 20px;
}
button{
    font-size: 18px;
    padding: 8px;
    border: 1px solid skyblue;
    border-radius: 6px;
    margin-right:20px;
    background-color: transparent;
    color: skyblue;
    margin-top: 1.3rem;
    cursor: pointer;
}
button:nth-child(1){
    background-color: skyblue;
    color: black;
}
button:nth-child(1):hover{
    background-color: transparent;
}
button:nth-child(2):hover{
    background-color: skyblue;
    color: black;
}
.line-pattern {
    font-size: 24px;
    font-family: monospace;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    width: 0; /* Start with zero width */
    animation: typing 3s steps(12) infinite, blink 0.5s step-end infinite alternate;
  }
  
  /* Typing effect */
  @keyframes typing {
    0%, 100% { width: 0; }         /* Start and end with no text */
    50% { width: 11ch; }           /* Show full text at 50% */
  }
  
  /* Blinking cursor effect */
 
  